@page "/Error"
@using System.Diagnostics

<PageTitle>Fehler</PageTitle>

<h1 class="text-danger">Fehler</h1>
<h2 class="text-danger">Beim Verarbeiten der Anfrage ist ein Fehler aufgetreten.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Anfrage-ID:</strong> <code>@RequestId</code>
    </p>
}

<p>
    Bitte versuchen Sie die Aktion erneut. Tritt der Fehler weiterhin auf, wenden Sie sich mit der
    obigen Anfrage-ID an die Administration.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
